.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(to right, #000000,#10101a, #250b37,#10101a, #000000);
  overflow-y: auto;
  padding-bottom:50px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

