.app-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080808;
}

.centered-content,
.menu-container {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.top-center-button {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
}
.riskit-button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: #111;
    border: none;
    cursor: pointer;
    outline: 3px solid #ff4500;
  }
  
  .riskit-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4500;
    border-radius: 10rem;
    z-index: -2;
    opacity: 0; 
    transition: opacity 0.3s;
  }
  
  .riskit-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ff4500; 
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  
  .riskit-button:hover {
    box-shadow: 0 0 25px 10px #ff4500; /* Increased blur radius and added spread radius */
    color: #fff;
  }

  .riskit-button:hover::before {
    width: 100%;
  }
  
  .riskit-button-text {
    display: inline-block;
    transition: all 0.3s; 
  }
  
  .riskit-button:hover .riskit-button-text {
    animation: shake 0.3s ease-in-out infinite;
  }
  
  .riskit-button:active {
    color: #000;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  

.game-selection {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.game-button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #c200c5;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.game-button:hover {
    background-color: #850087;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}
