.app-container {
  min-height: 100vh; /* Minimum height of the viewport */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start to handle overflow */
  background-image: linear-gradient(to right, #000000,#10101a, #250b37,#10101a, #000000);
  overflow-y: auto; /* Allow vertical scrolling */
}


.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.top-center-button {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
}

.riskit-button, .login-form button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #111;
  border: none;
  cursor: pointer;
  outline: 3px solid #a700a2;
}

.riskit-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a700a2;
  border-radius: 10rem;
  z-index: -2;
  opacity: 0;
  transition: opacity 0.3s;
}

.riskit-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #a700a2;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.riskit-button:hover {
  box-shadow: 0 0 25px 10px #a700a2;
  /* Increased blur radius and added spread radius */
  color: #fff;
}

.riskit-button:hover::before {
  width: 100%;
}

.riskit-button-text {
  display: inline-block;
  transition: all 0.3s;
}

.riskit-button:hover .riskit-button-text {
  animation: shake 0.3s ease-in-out infinite;
}

.riskit-button:active {
  color: #000;
}

.riskit-button-clicked {
  animation-name: vanish;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.welcome-button {
  color: #ffffff; /* Gold color for luxury */
  margin-top: 50px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}


.game-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Increased gap between buttons */
  width: 110%; /* Adjusted width to not span the entire container */
  margin-top: 20px; /* Consistent vertical margin */
}


.game-button {
  height: 320px;
  font-size: 22px;
  cursor: pointer;
  border: none; /* Remove default border */
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(to right, #555, #333);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  filter: brightness(0.8);
}

.game-button:nth-child(1) {
  background: linear-gradient(to right, #8e2de2, #4a00e0); /* Purple gradient */
  color: #ffffff;
}

.game-button:nth-child(2) {
  background: linear-gradient(to right, #f12711, #f5af19); /* Orange gradient */
  color: #ffffff;
}

.game-button:nth-child(3) {
  background: linear-gradient(to right, #fc466b, #3f5efb); /* Pink to blue gradient */
  color: #ffffff;
}

.game-button:nth-child(4) {
  background: linear-gradient(to right, #00f260, #0575e6); /* Green to blue gradient */
  color: #ffffff;
}

.game-button:nth-child(5) {
  background: linear-gradient(to right, #e1eec3, #f05053); /* Light green to red gradient */
  color: #ffffff;
}

.game-button:nth-child(6) {
  background: linear-gradient(to right, #74ebd5, #acb6e5); /* Teal to lavender gradient */
  color: #ffffff;
}

.game-button:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1); /* Brighten the button slightly */
}

@keyframes vanish {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }

  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.login-form {
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #2a2a2a; /* Dark background for the form */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adding some depth */
  max-width: 400px; /* Restricting form width for better aesthetics */
}

.login-form h2 {
  color: #FFF;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 20px; /* Added space below the title */
}

.login-form label {
  display: block;
  color: #FFD700; /* Gold color for labels */
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3); /* subtle inner shadow */
  background-color: #FFF;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #FFD700; /* Highlight focus with a gold glow */
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #752c7e; /* Bright color for the button */
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-form button:hover {
  background-color: #b041bf; /* Darker shade on hover */
  box-shadow: 0 0 10px 5px #b041bf(255, 69, 0, 0.5); /* Adding a glow effect */
}

.submit-container {
  margin-top: 8px;
  text-align: center;
}