
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .top-center-button {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
  }
  
  .welcome-button {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
  
  
  .game-selection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
    margin-top: 20px;
  }
  
  
  .game-card {
    justify-content: center;
    height: 400px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 20px;
    outline: 3px solid white;
    transition: transform 0.3s, box-shadow 0.3s;
    background: linear-gradient(to right, #555, #333);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
    filter: brightness(0.8);
  }
  
  .card-image {
    background-color: aqua; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 120px;
    width: 100%;
  }
  
  .card-title {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .card-description {
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 5px;
    margin-right:5px;
  }
  
  .game-card:nth-child(1) {
    background: linear-gradient(to bottom right, rgb(255, 0, 255), rgb(0, 0, 74));
    color: #ffffff;
  }
  
  .game-card:nth-child(2) {
    background: linear-gradient(to bottom right, rgb(255, 0, 255), rgb(0, 0, 74));
    color: #ffffff;
  }
  
  .game-card:nth-child(3) {
    background: linear-gradient(to bottom right, rgb(255, 0, 255), rgb(0, 0, 74));
    color: #ffffff;
  }
  
  .game-card:nth-child(4) {
    background: linear-gradient(to bottom right, rgb(255, 0, 255), rgb(0, 0, 74));
    color: #ffffff;
  }
  
  .game-card:nth-child(5) {
    background: linear-gradient(to bottom right, rgb(255, 0, 255), rgb(0, 0, 74));
    color: #ffffff;
  }
  
  .game-card:nth-child(6) {
    background: linear-gradient(to bottom right, rgb(255, 0, 255), rgb(0, 0, 74));
    color: #ffffff;
  }
  
  .game-card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
    filter: brightness(1.1);
  }