.minesweeper-container {
  color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top:80px;
    align-items: flex-start; 
  }
  
  .betting-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: 5px solid #d8d6d6;
    padding: 10px;
    border-radius: 5px; 
    background-color: #30203b;
    margin-right:20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    background-color: rgb(255, 232, 254);
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .play-button {
    background-color: #a071a1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; 
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius:10px;
  }
  
  .minesweeper-grid {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-gap: 7px;
    border: 5px solid #f3f3f3; 
    padding: 20px;
    background-color: #250b37; 
    border-radius: 15px;
  }
  
  @keyframes flip {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(180deg);
    }
  }
  
  .flipping {
    animation: flip 0.3s forwards;
  }
  

  .grid-cell {
    width: 120px;
    height: 120px;
    border: 2px solid #ddd;
    background-color: rgb(175, 131, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius:5px;
    transition: background-color 0.3s;
  }
  

.grid-cell:not(.coin-cell):not(.mine-cell):not(.revealed-mine):not(.revealed-coin):hover {
  background-color: rgb(186, 0, 186);
}


  .profit-and-cashout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .profit-display {
    margin-bottom: 10px;
  }
  
.cashout-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
}

.coin-icon {
  font-size: 48px;
}

.mine-icon {
  font-size: 48px;
}


.coin-cell {
  background-color: yellow;
}

.mine-cell {
  background-color: red; 
}


.revealed-mine {
  background-color: red;
}

.revealed-coin {
  background-color: lightgreen;
}
