.minesweeper-container {
  color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top:80px;
    align-items: flex-start; 
  }
  
  .betting-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: 5px solid #d8d6d6; /* Larger border for better visual framing */
    padding: 10px;
    border-radius: 5px; 
    background-color: #30203b;
    margin-right:20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    background-color: rgb(255, 207, 253);
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .play-button {
    background-color: #a071a1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; 
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .minesweeper-grid {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-gap: 5px;
    border: 5px solid #f3f3f3; /* Larger border for better visual framing */
    padding: 20px; /* Additional padding to ensure the cells don't touch the border */
    background-color: #250b37; /* Background color for the border area */
    border-radius: 15px; /* Rounded corners for the border */
  }
  


  .grid-cell {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    background-color: rgb(175, 131, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .grid-cell:hover {
    background-color: rgb(186, 0, 186);
  }
