.top-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top:20px;
}

.home-button{
    text-align: center;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    min-width: 80px;
    background-color: purple;
    cursor: pointer;
    margin: 0 5px;
}

.home-button:hover {
    background-color: rgb(161, 1, 161);
}


.player-wallet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 80px; 
    background-color: #2a9ff2; 
    border-radius: 10px; 
    cursor: default;
    white-space: nowrap; 
}

.wallet-icon {
    margin-right: 5px;
}

